# This file is used to not push certain things to the git repository

# Specific Alisa related files
alisa.log
./alisa.log

# Python related files
__pycache__/
*.py[cod]
*$py.class

# Environment related files
.env
.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt